*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 500px;
}
form .form-content--input{
    padding: 10px 5px 10px 5px;
}
form .form-content--input label{
    margin-right: 20px;
    ;
}
form .form-content--input input{
    float: right;
    
}